--USE [master]
--GO
--/****** Object:  Database [AndroidBasico]    Script Date: 20/01/2015 21:09:27 ******/
--CREATE DATABASE [AndroidBasico]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'AndroidBasico', FILENAME = N'C:\GDGAracaju\Pj.SQL\AndroidBasico.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
-- LOG ON 
--( NAME = N'AndroidBasico_log', FILENAME = N'C:\GDGAracaju\Pj.SQL\AndroidBasico_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
--GO
--ALTER DATABASE [AndroidBasico] SET COMPATIBILITY_LEVEL = 100
--GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AndroidBasico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
--ALTER DATABASE [AndroidBasico] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
--ALTER DATABASE [AndroidBasico] SET TARGET_RECOVERY_TIME = 0 SECONDS 
GO
--ALTER DATABASE [AndroidBasico] SET DELAYED_DURABILITY = DISABLED 
GO
USE [AndroidBasico]
GO
/****** Object:  Table [dbo].[Atores]    Script Date: 20/01/2015 21:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Atores](
	[ID_Ator] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Atores] PRIMARY KEY CLUSTERED 
(
	[ID_Ator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Filmes]    Script Date: 20/01/2015 21:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Filmes](
	[ID_Filme] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Resumo] [varchar](max) NOT NULL,
	[Estrelas] [int] NOT NULL,
 CONSTRAINT [PK_Filmes] PRIMARY KEY CLUSTERED 
(
	[ID_Filme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Filmes_Atores]    Script Date: 20/01/2015 21:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filmes_Atores](
	[ID_Filme_Ator] [int] IDENTITY(1,1) NOT NULL,
	[ID_Filme] [int] NOT NULL,
	[ID_Ator] [int] NOT NULL,
 CONSTRAINT [PK_Filmes_Atores] PRIMARY KEY CLUSTERED 
(
	[ID_Filme_Ator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Filmes_Atores]  WITH CHECK ADD  CONSTRAINT [FK_Filmes_Atores_Atores] FOREIGN KEY([ID_Ator])
REFERENCES [dbo].[Atores] ([ID_Ator])
GO
ALTER TABLE [dbo].[Filmes_Atores] CHECK CONSTRAINT [FK_Filmes_Atores_Atores]
GO
ALTER TABLE [dbo].[Filmes_Atores]  WITH CHECK ADD  CONSTRAINT [FK_Filmes_Atores_Filmes] FOREIGN KEY([ID_Filme])
REFERENCES [dbo].[Filmes] ([ID_Filme])
GO
ALTER TABLE [dbo].[Filmes_Atores] CHECK CONSTRAINT [FK_Filmes_Atores_Filmes]
GO
USE [master]
GO
